# Note

* Following these [instructions](https://github.com/liguowang/ultra-impute/tree/master) to install `ultra-impute`.
* If you install `ultra-impute` into a [virtual environment](https://docs.python.org/3/library/venv.html), you will also need to install **[Jupyter Notebook](https://jupyter.org/)** into that same virtual environment and launch it from there. Otherwise, Jupyter Notebook may not be able to load the necessary Python modules for this tutorial.

# Load Python modules

In [11]:
import numpy as np
import pandas as pd
from ultra_impute import MissFiller
from util import calculate_metrics, toy_df

# Initialize the `MissFiller` object
`MissFiller` can be initialized with a **dictionary**, **NumPy ndarray**, or **pandas DataFrame**. Dictionaries and ndarrays will be converted to DataFrames upon initialization of the `MissFiller` class.

In [9]:
# d1 is a dictionary. `np.nan` represents missing value.
d1 = {
'A':[0, 5, 10, np.nan, 20],
'B': [1, 6, np.nan, 16, 21],
'C':[np.nan, 7, 12, 17, 22],
'D':[3, 8, 13, 18, 23],
'E':[4, 9, 14, 19, np.nan]
}

# d2 is a NumPy ndarray
d2 = np.array([
[ 0.,  1., np.nan,  3., 4],
[ 5.,  6.,  7.,  8., 9],
[10., np.nan, 12., 13., 14],
[np.nan, 16., 17., 18., 19],
[20., 21., 22., 23., np.nan]
])

# d3 and d4 are DataFrames created from d1 and d2, respectively.
d3= pd.DataFrame(d1)
d4 = pd.DataFrame(d2, columns=['A','B','C','D', 'E'])

# Create MissFiller objects, noting that mf1, mf2, mf3, and mf4 
# all contain the same data.
mf1 = MissFiller(d1)
mf2 = MissFiller(d2)
mf3 = MissFiller(d3)
mf4 = MissFiller(d4)
mf1.df

      A     B     C   D     E
0   0.0   1.0   NaN   3   4.0
1   5.0   6.0   7.0   8   9.0
2  10.0   NaN  12.0  13  14.0
3   NaN  16.0  17.0  18  19.0
4  20.0  21.0  22.0  23   NaN

# Create a toy dataframe (10 x 5) with 20% missing values

In [20]:
d5 = toy_df(n_rows=10, n_cols=5, missingness=0.2, min_val=0, max_val=1, rand_seed=123)
d5

10

array([[0.69646919, 0.28613933, 0.22685145,        nan, 0.71946897],
       [0.42310646,        nan, 0.68482974,        nan, 0.39211752],
       [0.34317802, 0.72904971, 0.43857224,        nan, 0.39804426],
       [0.73799541,        nan, 0.17545176, 0.53155137, 0.53182759],
       [0.63440096, 0.84943179, 0.72445532, 0.61102351, 0.72244338],
       [0.32295891, 0.36178866,        nan, 0.29371405, 0.63097612],
       [0.09210494, 0.43370117, 0.43086276, 0.4936851 , 0.42583029],
       [0.31226122, 0.42635131, 0.89338916, 0.94416002, 0.50183668],
       [0.62395295, 0.1156184 , 0.31728548,        nan, 0.86630916],
       [0.25045537, 0.48303426, 0.98555979,        nan, 0.61289453]])

# Get the indices of missing values

In [21]:
mf5 = MissFiller(d5)
na_locations = mf5.get_na_indices()
na_locations

array([[0, 3],
       [1, 1],
       [1, 3],
       [2, 3],
       [3, 1],
       [5, 2],
       [8, 3],
       [9, 3]])

# Remove mising values

In [22]:
# remove rows with any missing values. Default is axis=0
mf5.remove_na()

          0         1         2         3         4
4  0.634401  0.849432  0.724455  0.611024  0.722443
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837

In [23]:
# remove columns with any missing values
mf5.remove_na(axis=1)

          0         4
0  0.696469  0.719469
1  0.423106  0.392118
2  0.343178  0.398044
3  0.737995  0.531828
4  0.634401  0.722443
5  0.322959  0.630976
6  0.092105  0.425830
7  0.312261  0.501837
8  0.623953  0.866309
9  0.250455  0.612895

# Fill missing values with `mean`, `median`, `min`, `max`, `bfill` or `ffill`

**bfill** (back fill): Fills a missing value with the next value.
                If axis=0, "next" refers to the value directly below the
                missing value. As a result, missing values at the bottom of
                the column will not be filled.
                If axis=1, "next" refers to the value to the right of the
                missing value. Consequently, missing values on the rightmost
                side of the row will not be filled.
                
**ffill** (forward fill): Fills a missing value with the previous value.
                If axis=0, "previous" refers to the value directly above the
                missing value. Therefore, missing values at the top of the
                column will not be filled.
                If axis=1, "previous" refers to the value to the left of the
                missing value. Thus, missing values on the leftmost side of
                the row will not be filled.

In [24]:
# fill missing values with row mean
mf5.fill_trend(axis=1, method='mean')

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.482232  0.719469
1  0.423106  0.500018  0.684830  0.500018  0.392118
2  0.343178  0.729050  0.438572  0.477211  0.398044
3  0.737995  0.494207  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.402359  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.480791  0.866309
9  0.250455  0.483034  0.985560  0.582986  0.612895

In [25]:
# fill missing values with column mean
mf5.fill_trend(axis=0, method='mean')

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.574827  0.719469
1  0.423106  0.460639  0.684830  0.574827  0.392118
2  0.343178  0.729050  0.438572  0.574827  0.398044
3  0.737995  0.460639  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.541918  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.574827  0.866309
9  0.250455  0.483034  0.985560  0.574827  0.612895

In [26]:
# back fill missing values by row
# When axis=1, "back fill" means a missing value will be filled 
# by the value on its rightside
mf5.fill_trend(axis=1, method='bfill')

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.719469  0.719469
1  0.423106  0.684830  0.684830  0.392118  0.392118
2  0.343178  0.729050  0.438572  0.398044  0.398044
3  0.737995  0.175452  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.293714  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.866309  0.866309
9  0.250455  0.483034  0.985560  0.612895  0.612895

In [27]:
# back fill missing values by row
# When axis=0, "back fill" means a missing value will be filled 
# by the value below.
mf5.fill_trend(axis=0, method='bfill')

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.531551  0.719469
1  0.423106  0.729050  0.684830  0.531551  0.392118
2  0.343178  0.729050  0.438572  0.531551  0.398044
3  0.737995  0.849432  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.430863  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285       NaN  0.866309
9  0.250455  0.483034  0.985560       NaN  0.612895

# Fill missing values with random values chose from the same row or column

In [28]:
# Fill by random values chose from the same column
mf5.fill_rand(axis=0)

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.293714  0.719469
1  0.423106  0.729050  0.684830  0.493685  0.392118
2  0.343178  0.729050  0.438572  0.611024  0.398044
3  0.737995  0.286139  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.724455  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.944160  0.866309
9  0.250455  0.483034  0.985560  0.611024  0.612895

In [29]:
# Fill by random values chose from the same row
mf5.fill_rand(axis=1)

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.696469  0.719469
1  0.423106  0.684830  0.684830  0.684830  0.392118
2  0.343178  0.729050  0.438572  0.729050  0.398044
3  0.737995  0.531551  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.322959  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.115618  0.866309
9  0.250455  0.483034  0.985560  0.985560  0.612895

# Fill missing values with mean calculated from the sliding windows

In [30]:
# Default axis = 0, means the sliding window will move along the columns.
mf5.fill_mw()

/Users/m102324/miniforge3/lib/python3.12/site-packages/numpy/core/fromnumeric.py:3504: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/m102324/miniforge3/lib/python3.12/site-packages/numpy/core/_methods.py:129: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.544797  0.719469
1  0.423106  0.507595  0.684830  0.531551  0.392118
2  0.343178  0.729050  0.438572  0.558042  0.398044
3  0.737995  0.695359  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.449954  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285       NaN  0.866309
9  0.250455  0.483034  0.985560       NaN  0.612895

# Fill missing values using the `k-nearest neighbour`

In [31]:
# fill missing values using the 'fKNN' algorithem (fast k-nearest neighbour).
# When axis = 1 (default), search columns for the nearest neighbours.
mf5.fill_fKNN()

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.399200  0.719469
1  0.423106  0.537525  0.684830  0.557274  0.392118
2  0.343178  0.729050  0.438572  0.514626  0.398044
3  0.737995  0.472949  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.382209  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.402664  0.866309
9  0.250455  0.483034  0.985560  0.730680  0.612895

In [32]:
# When axis = 0, search rows for the nearest neighbours.
mf5.fill_fKNN(axis=0)

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.530151  0.719469
1  0.423106  0.540602  0.684830  0.554548  0.392118
2  0.343178  0.729050  0.438572  0.487227  0.398044
3  0.737995  0.321908  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.517105  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.499448  0.866309
9  0.250455  0.483034  0.985560  0.657904  0.612895

In [33]:
# fill missing values using the sklearn's 'KNNImputer'
# When axis = 1 (default), search columns for the nearest neighbours.
# the results of KNN (using the mean) might be slightly different 
# from fKNN (using the weighted mean)
mf5.fill_KNN()

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.482232  0.719469
1  0.423106  0.500018  0.684830  0.500018  0.392118
2  0.343178  0.729050  0.438572  0.477211  0.398044
3  0.737995  0.494207  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.402359  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.480791  0.866309
9  0.250455  0.483034  0.985560  0.582986  0.612895

# Fill missing values using the Expectation-Maximization (EM)

In [34]:
# Imputes missing data using the Expectation-Maximization (EM) algorithm.
mf5.fill_EM()

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.723044  0.719469
1  0.423106  0.541666  0.684830  0.430225  0.392118
2  0.343178  0.729050  0.438572  0.669662  0.398044
3  0.737995  0.475712  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.430080  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.008294  0.866309
9  0.250455  0.483034  0.985560  0.833682  0.612895

# Fill missing values using Buck's Method

In [35]:
# Imputes missing data using Buck's Method.
mf5.fill_Buck()

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.070144  0.719469
1  0.423106  0.460639  0.684830  1.097562  0.392118
2  0.343178  0.729050  0.438572  0.832934  0.398044
3  0.737995  0.460639  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.541918  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285 -0.281854  0.866309
9  0.250455  0.483034  0.985560  0.733134  0.612895

# Impute missing values using NuclearNormMinimization.
## NOTE: this method can be very slow, especially for large dataset.

In [36]:
mf5.fill_NNM()

===============================================================================
                                     CVXPY
                                     v1.5.3
===============================================================================
(CVXPY) Oct 13 09:18:26 AM: Your problem has 50 variables, 50 constraints, and 0 parameters.
(CVXPY) Oct 13 09:18:26 AM: It is compliant with the following grammars: DCP, DQCP
(CVXPY) Oct 13 09:18:26 AM: (If you need to solve this problem multiple times, but with different data, consider using parameters.)
(CVXPY) Oct 13 09:18:26 AM: CVXPY will first compile your problem; then, it will invoke a numerical solver to obtain a solution.
(CVXPY) Oct 13 09:18:26 AM: Your problem is compiled with the CPP canonicalization backend.
-------------------------------------------------------------------------------
                                  Compilation
-------------------------------------------------------------------------------
(CVXPY) Oct 13 09:18:26 AM: Compiling problem (target solver=CVXOPT).
(CVXPY) Oct 13 09:18:26 AM: Reduction chain: Dcp2Cone -> CvxAttr2Constr -> ConeMatrixStuffing -> CVXOPT
(CVXPY) Oct 13 09:18:26 AM: Applying reduction Dcp2Cone
(CVXPY) Oct 13 09:18:26 AM: Applying reduction CvxAttr2Constr
(CVXPY) Oct 13 09:18:26 AM: Applying reduction ConeMatrixStuffing
(CVXPY) Oct 13 09:18:26 AM: Applying reduction CVXOPT
(CVXPY) Oct 13 09:18:26 AM: Finished problem compilation (took 1.458e-01 seconds).
-------------------------------------------------------------------------------
                                Numerical solver
-------------------------------------------------------------------------------
(CVXPY) Oct 13 09:18:26 AM: Invoking solver CVXOPT  to obtain a solution.
     pcost       dcost       gap    pres   dres   k/t
 0:  0.0000e+00 -5.0000e-02  5e+02  7e+00  4e+00  1e+00
 1:  4.7519e+00  5.5378e+00  6e+01  1e+00  8e-01  1e+00
 2:  5.4705e+00  5.7002e+00  2e+01  3e-01  2e-01  3e-01
 3:  5.7958e+00  5.8254e+00  2e+00  4e-02  3e-02  4e-02
 4:  5.8373e+00  5.8370e+00  2e-01  5e-03  3e-03  5e-04
 5:  5.8611e+00  5.8613e+00  1e-02  8e-04  5e-04  3e-04
 6:  5.8630e+00  5.8630e+00  3e-03  2e-04  1e-04  6e-05
 7:  5.8634e+00  5.8634e+00  5e-04  3e-05  2e-05  9e-06
 8:  5.8634e+00  5.8634e+00  8e-05  5e-06  3e-06  9e-07
 9:  5.8635e+00  5.8635e+00  1e-06  7e-08  4e-08  1e-08
Optimal solution found.
-------------------------------------------------------------------------------
                                    Summary
-------------------------------------------------------------------------------
(CVXPY) Oct 13 09:18:26 AM: Problem status: optimal
(CVXPY) Oct 13 09:18:26 AM: Optimal value: 5.863e+00
(CVXPY) Oct 13 09:18:26 AM: Compilation took 1.458e-01 seconds
(CVXPY) Oct 13 09:18:26 AM: Solver (including time spent in interface) took 4.502e-01 seconds

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.376516  0.719469
1  0.423106  0.398286  0.684830  0.522861  0.392118
2  0.343178  0.729050  0.438572  0.382084  0.398044
3  0.737995  0.272199  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.333507  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.416525  0.866309
9  0.250455  0.483034  0.985560  0.667208  0.612895

# Impute missing values using `SoftImpute`

In [37]:
# Matrix completion by iterative soft thresholding of SVD decompositions. 
# Similar to R softImpute package.
mf5.fill_SoftImpute()

[SoftImpute] Max Singular Value of X_init = 3.245500
[SoftImpute] Iter 1: observed MAE=0.016806 rank=5
[SoftImpute] Iter 2: observed MAE=0.016818 rank=5
[SoftImpute] Iter 3: observed MAE=0.016842 rank=5
[SoftImpute] Iter 4: observed MAE=0.016861 rank=5
[SoftImpute] Iter 5: observed MAE=0.016877 rank=5
[SoftImpute] Iter 6: observed MAE=0.016888 rank=5
[SoftImpute] Iter 7: observed MAE=0.016896 rank=5
[SoftImpute] Iter 8: observed MAE=0.016900 rank=5
[SoftImpute] Iter 9: observed MAE=0.016901 rank=5
[SoftImpute] Iter 10: observed MAE=0.016899 rank=5
[SoftImpute] Iter 11: observed MAE=0.016908 rank=5
[SoftImpute] Iter 12: observed MAE=0.016917 rank=5
[SoftImpute] Iter 13: observed MAE=0.016929 rank=5
[SoftImpute] Iter 14: observed MAE=0.016942 rank=5
[SoftImpute] Iter 15: observed MAE=0.016952 rank=5
[SoftImpute] Iter 16: observed MAE=0.016960 rank=5
[SoftImpute] Iter 17: observed MAE=0.016966 rank=5
[SoftImpute] Iter 18: observed MAE=0.016969 rank=5
[SoftImpute] Iter 19: observed MAE=0.016980 rank=5
[SoftImpute] Iter 20: observed MAE=0.016994 rank=5
[SoftImpute] Iter 21: observed MAE=0.017006 rank=5
[SoftImpute] Iter 22: observed MAE=0.017016 rank=5
[SoftImpute] Iter 23: observed MAE=0.017024 rank=5
[SoftImpute] Iter 24: observed MAE=0.017031 rank=5
[SoftImpute] Iter 25: observed MAE=0.017036 rank=5
[SoftImpute] Iter 26: observed MAE=0.017040 rank=5
[SoftImpute] Iter 27: observed MAE=0.017043 rank=5
[SoftImpute] Iter 28: observed MAE=0.017045 rank=5
[SoftImpute] Iter 29: observed MAE=0.017045 rank=5
[SoftImpute] Iter 30: observed MAE=0.017045 rank=5
[SoftImpute] Iter 31: observed MAE=0.017044 rank=5
[SoftImpute] Iter 32: observed MAE=0.017042 rank=5
[SoftImpute] Iter 33: observed MAE=0.017040 rank=5
[SoftImpute] Iter 34: observed MAE=0.017037 rank=5
[SoftImpute] Iter 35: observed MAE=0.017034 rank=5
[SoftImpute] Iter 36: observed MAE=0.017034 rank=5
[SoftImpute] Iter 37: observed MAE=0.017044 rank=5
[SoftImpute] Iter 38: observed MAE=0.017053 rank=5
[SoftImpute] Iter 39: observed MAE=0.017062 rank=5
[SoftImpute] Iter 40: observed MAE=0.017071 rank=5
[SoftImpute] Iter 41: observed MAE=0.017078 rank=5
[SoftImpute] Iter 42: observed MAE=0.017085 rank=5
[SoftImpute] Iter 43: observed MAE=0.017092 rank=5
[SoftImpute] Iter 44: observed MAE=0.017098 rank=5
[SoftImpute] Iter 45: observed MAE=0.017103 rank=5
[SoftImpute] Iter 46: observed MAE=0.017111 rank=5
[SoftImpute] Iter 47: observed MAE=0.017118 rank=5
[SoftImpute] Iter 48: observed MAE=0.017126 rank=5
[SoftImpute] Iter 49: observed MAE=0.017134 rank=5
[SoftImpute] Iter 50: observed MAE=0.017142 rank=5
[SoftImpute] Iter 51: observed MAE=0.017150 rank=5
[SoftImpute] Iter 52: observed MAE=0.017161 rank=5
[SoftImpute] Iter 53: observed MAE=0.017178 rank=5
[SoftImpute] Iter 54: observed MAE=0.017198 rank=5
[SoftImpute] Iter 55: observed MAE=0.017217 rank=5
[SoftImpute] Iter 56: observed MAE=0.017236 rank=5
[SoftImpute] Iter 57: observed MAE=0.017253 rank=5
[SoftImpute] Iter 58: observed MAE=0.017270 rank=5
[SoftImpute] Iter 59: observed MAE=0.017286 rank=5
[SoftImpute] Iter 60: observed MAE=0.017301 rank=5
[SoftImpute] Iter 61: observed MAE=0.017316 rank=5
[SoftImpute] Iter 62: observed MAE=0.017330 rank=5
[SoftImpute] Iter 63: observed MAE=0.017343 rank=5
[SoftImpute] Iter 64: observed MAE=0.017355 rank=5
[SoftImpute] Iter 65: observed MAE=0.017367 rank=5
[SoftImpute] Iter 66: observed MAE=0.017379 rank=5
[SoftImpute] Iter 67: observed MAE=0.017390 rank=5
[SoftImpute] Iter 68: observed MAE=0.017400 rank=5
[SoftImpute] Iter 69: observed MAE=0.017410 rank=5
[SoftImpute] Iter 70: observed MAE=0.017419 rank=5
[SoftImpute] Iter 71: observed MAE=0.017428 rank=5
[SoftImpute] Iter 72: observed MAE=0.017437 rank=5
[SoftImpute] Iter 73: observed MAE=0.017445 rank=5
[SoftImpute] Iter 74: observed MAE=0.017453 rank=5
[SoftImpute] Iter 75: observed MAE=0.017460 rank=5
[SoftImpute] Iter 76: observed MAE=0.017467 rank=5
[SoftImpute] Iter 77: observed MAE=0.017474 rank=5
[SoftImpute] Iter 78: observed MAE=0.017480 rank=5
[SoftImpute] Iter 79: observed MAE=0.017486 rank=5
[SoftImpute] Iter 80: observed MAE=0.017492 rank=5
[SoftImpute] Iter 81: observed MAE=0.017497 rank=5
[SoftImpute] Iter 82: observed MAE=0.017503 rank=5
[SoftImpute] Iter 83: observed MAE=0.017508 rank=5
[SoftImpute] Iter 84: observed MAE=0.017512 rank=5
[SoftImpute] Iter 85: observed MAE=0.017517 rank=5
[SoftImpute] Iter 86: observed MAE=0.017521 rank=5
[SoftImpute] Iter 87: observed MAE=0.017525 rank=5
[SoftImpute] Iter 88: observed MAE=0.017529 rank=5
[SoftImpute] Iter 89: observed MAE=0.017533 rank=5
[SoftImpute] Iter 90: observed MAE=0.017536 rank=5
[SoftImpute] Iter 91: observed MAE=0.017540 rank=5
[SoftImpute] Iter 92: observed MAE=0.017543 rank=5
[SoftImpute] Iter 93: observed MAE=0.017546 rank=5
[SoftImpute] Iter 94: observed MAE=0.017549 rank=5
[SoftImpute] Iter 95: observed MAE=0.017552 rank=5
[SoftImpute] Stopped after iteration 95 for lambda=0.064910

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.365466  0.719469
1  0.423106  0.393501  0.684830  0.511446  0.392118
2  0.343178  0.729050  0.438572  0.384299  0.398044
3  0.737995  0.281268  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.342569  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.398719  0.866309
9  0.250455  0.483034  0.985560  0.649914  0.612895

# Impute missing values using `IterativeSVD`

In [39]:
# Matrix completion by iterative low-rank SVD decomposition. 
# The input dataframe must have at least 5 columns.

d6 = toy_df(n_rows=10, n_cols=10, missingness=0.2, min_val=0, max_val=1, rand_seed=123)
mf6 = MissFiller(d6)
mf6.fill_IterativeSVD()

20
[IterativeSVD] Iter 1: observed MAE=0.198822
[IterativeSVD] Iter 2: observed MAE=0.143338
[IterativeSVD] Iter 3: observed MAE=0.069606
[IterativeSVD] Iter 4: observed MAE=0.004337

,0,1,2,3,4,5,6,7,8,9
0,0.696469,0.286139,0.226851,0.551315,0.719469,0.423106,0.980764,0.684830,0.480932,0.392118
1,0.343178,0.729050,0.467525,0.354695,0.398044,0.368672,0.182492,0.238923,0.531551,0.372009
2,0.634401,0.849432,0.724455,0.611024,0.722443,0.322959,0.361789,0.228263,0.293714,0.630976
3,0.092105,0.433701,0.430863,0.493685,0.425830,0.312261,0.426351,0.583460,0.944160,0.501837
4,0.623953,0.115618,0.317285,0.414826,0.866309,0.250455,0.483034,0.985560,0.519485,0.612895
5,0.120629,0.826341,0.603060,0.406402,0.342764,0.304121,0.417022,0.681301,0.875457,0.510422
6,0.669314,0.585937,0.420530,0.674689,0.842342,0.083195,0.763683,0.243666,0.194223,0.572457
7,0.095713,0.885327,0.627249,0.257878,0.016129,0.594432,0.024888,0.158960,0.583866,0.297125
8,0.318766,0.398851,0.355699,0.354450,0.925132,0.841670,0.357398,0.043591,0.304768,0.357662
9,0.704959,0.356562,0.355915,0.339798,0.593177,0.691702,0.151127,0.398876,0.240856,0.343456

# Impute missing values using `IterativeImpute`

In [40]:
# A strategy for imputing missing values by modeling each feature with 
# missing values as a function of other features in a round-robin fashion.
# Same as MICE (Multiple Imputation by  chained equations) in R.
mf5.fill_IterativeImputer()

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.321996  0.719469
1  0.423106  0.509825  0.684830  0.964111  0.392118
2  0.343178  0.729050  0.438572  0.641431  0.398044
3  0.737995  0.440712  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.342973  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.187013  0.866309
9  0.250455  0.483034  0.985560  0.822103  0.612895

# Impute missing values using `MatrixFactorization`

In [41]:
# Direct factorization of the incomplete matrix into low-rank U and V, 
# with per-row and per-column biases, as well as a global bias.
mf5.fill_MatrixFactorization()

[MatrixFactorization] Iter 10: observed MAE=0.164723 rank=40
[MatrixFactorization] Iter 20: observed MAE=0.156667 rank=40
[MatrixFactorization] Iter 30: observed MAE=0.152574 rank=40
[MatrixFactorization] Iter 40: observed MAE=0.151244 rank=40
[MatrixFactorization] Iter 50: observed MAE=0.150224 rank=40
[MatrixFactorization] Iter 60: observed MAE=0.149265 rank=40
[MatrixFactorization] Iter 70: observed MAE=0.148215 rank=40
[MatrixFactorization] Iter 80: observed MAE=0.146967 rank=40
[MatrixFactorization] Iter 90: observed MAE=0.145332 rank=40
[MatrixFactorization] Iter 100: observed MAE=0.143600 rank=40
[MatrixFactorization] Iter 110: observed MAE=0.141464 rank=40
[MatrixFactorization] Iter 120: observed MAE=0.139005 rank=40
[MatrixFactorization] Iter 130: observed MAE=0.136338 rank=40
[MatrixFactorization] Iter 140: observed MAE=0.133158 rank=40
[MatrixFactorization] Iter 150: observed MAE=0.129856 rank=40
[MatrixFactorization] Iter 160: observed MAE=0.126171 rank=40
[MatrixFactorization] Iter 170: observed MAE=0.122174 rank=40
[MatrixFactorization] Iter 180: observed MAE=0.117933 rank=40
[MatrixFactorization] Iter 190: observed MAE=0.113617 rank=40
[MatrixFactorization] Iter 200: observed MAE=0.109324 rank=40
[MatrixFactorization] Iter 210: observed MAE=0.104889 rank=40
[MatrixFactorization] Iter 220: observed MAE=0.100362 rank=40
[MatrixFactorization] Iter 230: observed MAE=0.095824 rank=40
[MatrixFactorization] Iter 240: observed MAE=0.091284 rank=40
[MatrixFactorization] Iter 250: observed MAE=0.086851 rank=40
[MatrixFactorization] Iter 260: observed MAE=0.082707 rank=40
[MatrixFactorization] Iter 270: observed MAE=0.078961 rank=40
[MatrixFactorization] Iter 280: observed MAE=0.075532 rank=40
[MatrixFactorization] Iter 290: observed MAE=0.072409 rank=40
[MatrixFactorization] Iter 300: observed MAE=0.069375 rank=40
[MatrixFactorization] Iter 310: observed MAE=0.066454 rank=40
[MatrixFactorization] Iter 320: observed MAE=0.063636 rank=40
[MatrixFactorization] Iter 330: observed MAE=0.060898 rank=40
[MatrixFactorization] Iter 340: observed MAE=0.058260 rank=40
[MatrixFactorization] Iter 350: observed MAE=0.055714 rank=40
[MatrixFactorization] Iter 360: observed MAE=0.053253 rank=40
[MatrixFactorization] Iter 370: observed MAE=0.050872 rank=40
[MatrixFactorization] Iter 380: observed MAE=0.048555 rank=40
[MatrixFactorization] Iter 390: observed MAE=0.046339 rank=40
[MatrixFactorization] Iter 400: observed MAE=0.044300 rank=40
[MatrixFactorization] Iter 410: observed MAE=0.042344 rank=40
[MatrixFactorization] Iter 420: observed MAE=0.040416 rank=40
[MatrixFactorization] Iter 430: observed MAE=0.038582 rank=40
[MatrixFactorization] Iter 440: observed MAE=0.036829 rank=40
[MatrixFactorization] Iter 450: observed MAE=0.035187 rank=40
[MatrixFactorization] Iter 460: observed MAE=0.033596 rank=40
[MatrixFactorization] Iter 470: observed MAE=0.032056 rank=40
[MatrixFactorization] Iter 480: observed MAE=0.030567 rank=40
[MatrixFactorization] Iter 490: observed MAE=0.029153 rank=40
[MatrixFactorization] Iter 500: observed MAE=0.027779 rank=40

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.498693  0.719469
1  0.423106  0.544872  0.684830  0.639136  0.392118
2  0.343178  0.729050  0.438572  0.517894  0.398044
3  0.737995  0.318584  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.321836  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.539327  0.866309
9  0.250455  0.483034  0.985560  0.789752  0.612895

# Impute missing values using `Random Forest`

In [42]:
mf5.fill_RF()

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6

          0         1         2         3         4
0  0.696469  0.286139  0.226851  0.446378  0.719469
1  0.423106  0.619769  0.684830  0.651717  0.392118
2  0.343178  0.729050  0.438572  0.555057  0.398044
3  0.737995  0.456250  0.175452  0.531551  0.531828
4  0.634401  0.849432  0.724455  0.611024  0.722443
5  0.322959  0.361789  0.364974  0.293714  0.630976
6  0.092105  0.433701  0.430863  0.493685  0.425830
7  0.312261  0.426351  0.893389  0.944160  0.501837
8  0.623953  0.115618  0.317285  0.445658  0.866309
9  0.250455  0.483034  0.985560  0.681689  0.612895

# Impute the missing values using multi-output learning
In this example, we created a dataframe containing 10,000 CpGs and 30 samples, derived from real 450K DNA methylation data (GSE105018). We manually removed 10% of the values and compared the imputed values with the original ones to evaluate the accuracy of the imputation process.

The imputation process consists of three main steps:

* **Handling random missing values**: Buck’s method is applied to predict random missing values (if any). Available methods for this step include ['Buck', 'KNN', 'MICE', 'RF'].

* **Clustering based on missingness patterns**: K-means is used to group samples into two clusters based on the pattern of missing values. For instance, samples with data generated from 450K and 850K arrays are grouped into separate clusters. This step will be skipped if users provide the `group` variable (e.g., `group = {'A':["sample1", "sample2", "sample3"], 'B':["sample4", "sample5", "sample6"]}`).

* **Imputing systematic or block missing values**: A deep neural network (DNN) is trained using the available values to impute systematic or block missing data. Methods available for this step include ['RF', 'KNN', 'SVR', 'DNN'].

In [43]:
#Original data
original_df = pd.read_csv("http://publicepidata.s3.amazonaws.com/GSE105018_N30_R10K.original.tsv", sep="\t", index_col=0, header=0)

# manually marked 10% values as missing (non-random block missing)
d7 = pd.read_csv("http://publicepidata.s3.amazonaws.com/GSE105018_N30_R10K.10per.tsv", sep="\t", index_col=0, header=0)
mf7 = MissFiller(d7)

# predict the missing values
filled_df = mf7.fill_morel(initial_model = 'Buck', second_model='DNN')

Binerize sample IDs into two groups using K-means ...
Group "0" contains 15 samples
	3442
	3311
	3312
	3341
	3342
	3411
	3412
	3461
	3462
	3471
	3472
	3501
	3502
	3451
	3452
Group "1" contains 15 samples
	2621
	2622
	2691
	2692
	3391
	3392
	2791
	2792
	3161
	3162
	3211
	3212
	3431
	3432
	3441
493 rows in group "0" are complete missing.
507 rows in group "1" are complete missing.
Predict missing values in group "0" using deep neural network
Split data into training and testing ...

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 16)             │           256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 15)             │           255 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 511 (2.00 KB)

 Trainable params: 511 (2.00 KB)

 Non-trainable params: 0 (0.00 B)

71/71 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - loss: 0.0212 - root_mean_squared_error: 0.0344
Test MAE loss, test RMSE: [0.020796336233615875, 0.032823145389556885]
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

Predict missing values in group "1" using deep neural network
Split data into training and testing ...

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 16)             │           256 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 15)             │           255 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 511 (2.00 KB)

 Trainable params: 511 (2.00 KB)

 Non-trainable params: 0 (0.00 B)

71/71 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - loss: 0.0233 - root_mean_squared_error: 0.0366
Test MAE loss, test RMSE: [0.02299191989004612, 0.0356442965567112]
16/16 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

Re-order the index as the original dataframe ...

# Calculate the imputation accuracy

In [45]:
# the locations of 10% NA
na_locations = mf7.get_na_indices()

# calculate the imputation perfromance
MNAE, MDAE, RAE, MAPE, RMSE, R2 = calculate_metrics(original_df, filled_df, na_locations)

In [6]:
print("Mean Absolute Error is: %f" %  MNAE)

Mean Absolute Error is: 0.020967

# Batch Effect Correction

Batch effects (for example, differences between 450K and 850K arrays) can significantly impact imputation accuracy. However, commonly used methods for correcting batch effects—such as [ComBat](https://pubmed.ncbi.nlm.nih.gov/16632515/)—do not handle missing values.

To address this limitation, we first apply K-nearest neighbors (KNN) imputation to fill in missing values. Next, we run the [ComBat](https://pubmed.ncbi.nlm.nih.gov/16632515/) algorithm to correct for batch effects. Finally, we restore the original missing values, allowing other imputation methods to be applied later on the batch-effect–corrected data. This procedure is implemented in the [beta_combat.py](https://cpgtools.readthedocs.io/en/latest/demo/beta_combat.html) function within our [CpGtools](https://pubmed.ncbi.nlm.nih.gov/31808791/) package.